<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>zMatcha - Free Html5 Templates</title>
    <meta name="description" content="Free Responsive Html5 Css3 Templates">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    <!-- Definity CSS -->
    <link href="/css/zerogrid.css" rel="stylesheet" media="all" type="text/css">
    <link href="/css/style.css" rel="stylesheet" media="all" type="text/css">
    <link href="/css/menu.css" rel="stylesheet" media="all" type="text/css">
    <!-- Lightbox -->
    <link href="/css/lightbox.css" rel="stylesheet" media="all" type="text/css">
    <!-- Video Background -->
    <link href="/css/jquery.mb.ytplayer.min.css" rel="stylesheet" media="all" type="text/css">
    <!-- Animate.css -->
    <link href="/css/animate.css" rel="stylesheet" media="all" type="text/css">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Owl Carousel Assets -->
    <link href="/owl-carousel/owl.carousel.css" rel="stylesheet">
    <!-- <link href="owl-carousel/owl.theme.css" rel="stylesheet"> -->

    <!-- JS -->

    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="/js/html5.js"></script>
    <script src="/js/css3-mediaqueries.js"></script>
    <![endif]-->

    <style>
        .article_content{position: relative; line-height: 20px; max-height: 40px;overflow: hidden;}
        .article_content::after{content: "..."; position: absolute; bottom: 0; right: 0; padding-left: 40px;
            background: -webkit-linear-gradient(left, transparent, #fff 55%);
            background: -o-linear-gradient(right, transparent, #fff 55%);
            background: -moz-linear-gradient(right, transparent, #fff 55%);
            background: linear-gradient(to right, transparent, #fff 55%);
        }
        .news_content{position: relative; line-height: 20px; max-height: 80px;overflow: hidden;}
        .news_content::after{content: "..."; position: absolute; bottom: 0; right: 0; padding-left: 40px;
            background: -webkit-linear-gradient(left, transparent, #fff 55%);
            background: -o-linear-gradient(right, transparent, #fff 55%);
            background: -moz-linear-gradient(right, transparent, #fff 55%);
            background: linear-gradient(to right, transparent, #fff 55%);
        }
    </style>
</head>
<body id="page-top">
<div class="wrap-body">

    <!--////////////////////////////////////Header-->
    <header>
        <div class="wrap-header" >

            <!---Main Header--->
            <div class="main-header">
                <div class="bg-overlay">
                    <!---Hero Content--->
                    <div class="hero-content-wrapper">
                        <div class="hero-content">
                            <h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">Best Gardening Services</h4>
                            <h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">Professional<br> Gardening Care</h1>
                            <a href="/single.html" class="button button-skin wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Read More</a>
                        </div>
                    </div>
                    <!---Scroller--->
                    <div id="scroll-page-content">
                        <a href="#page-content" class="scroller">
                            <span class="scroller-text">scroll down</span>
                            <div class="scroller-button">
                                <i class="fa fa-angle-double-down"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!---Top Menu--->
            <div id="cssmenu" >
                <ul>
                    <li class="active"><a href="/index.html"><span>zMatcha</span></a></li>
                    <li class="has-sub"><a href="#"><span>Category</span></a>
                        <ul>
                            <li class="has-sub"><a href="#"><span>Item 1</span></a>
                                <ul>
                                    <li><a href="#"><span>Sub Item</span></a></li>
                                    <li class="last"><a href="#"><span>Sub Item</span></a></li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="#"><span>Item 2</span></a>
                                <ul>
                                    <li><a href="#"><span>Sub Item</span></a></li>
                                    <li class="last"><a href="#"><span>Sub Item</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="/archive.html"><span>Archive</span></a></li>
                    <li><a href="/single.html"><span>About</span></a></li>
                    <li class="last"><a href="/contact.html"><span>Contact</span></a></li>
                </ul>
            </div>
        </div>
    </header>


    <!--////////////////////////////////////Container-->
    <section id="page-content" class="index-page">
        <div class="wrap-container">
            <!-----------------content-box-1-------------------->
            <section class="content-box box-1">
                <div class="zerogrid">
                    <div class="wrap-box"><!--Start Box-->
                        <div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
                            <h2>Projects Gallery</h2>
                            <span class="intro">Lorem ipsum dolor sit amet consectetur adipisicing</span>
                            <a href="/article/listAllArticles">查看所有文章</a>
                        </div>
                        <div class="content">
                            <div class="row">
                                <div class="lg-1-3 wow fadeInLeft" data-wow-duration=".8s">
                                    <div th:each="article,articleStat:${articles}" th:if="${articleStat.index} le 2">
                                            <div class="ft-icon">
                                            </div>
                                            <h5 th:text="${article.title}"></h5>
                                            <p th:text="${article.content}" class="article_content" ></p>
                                    </div>
                                </div>
                                <div class="lg-1-3">
                                    <img src="/images/UK-Plant2.png" alt="" class="ft-image-center wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s" />
                                </div>
                                <div class="lg-1-3 t-right-xs wow fadeInRight" data-wow-duration=".8s">
                                    <div th:each="article,articleStat:${articles}"  th:if="${articleStat.index} le 5">
                                        <div th:if="${articleStat.index} ge 3">
                                            <div class="ft-icon">
                                            </div>
                                            <h5 th:text="${article.title}" ></h5>
                                            <p th:text="${article.content}" class="article_content"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-----------------content-box-2-------------------->
            <section class="content-box box-2 box-style-2">
                <div class="zerogrid">
                    <div class="wrap-box"><!--Start Box-->
                        <div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
                            <div class="row">
                                <div class="sm-1-2 offset-sm-2-4">
                                    <blockquote><p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet vultatup duista.</p></blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="tlinks">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
            <!-----------------content-box-3-------------------->
            <section class="content-box box-3 box-style-1">
                <div class="zerogrid">
                    <div class="wrap-box"><!--Start Box-->
                        <div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
                            <h2>What people are saying</h2>
                            <span class="intro">Lorem ipsum dolor sit amet consectetur adipisicing</span>
                            <a href="/product/listAllProducts">查看更多</a>
                        </div>
                        <div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                            <div class="row">
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="wrap-col">
                                        <div class="product">
                                            <div class="product-thumbnail"><a href="#"><img src="/images/p1.jpg"></a></div>
                                            <div class="product-content">
                                                <div class="row">
                                                    <h2 class="product-title"><a href="#">Green decor</a></h2>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="categories">
                                                        <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Plants</a>
                                                    </div>
                                                    <span class="price">
														$290.00
													</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="wrap-col">
                                        <div class="product">
                                            <div class="product-thumbnail"><a href="#"><img src="/images/p2.jpg"></a></div>
                                            <div class="product-content">
                                                <div class="row">
                                                    <h2 class="product-title"><a href="#">Green decor</a></h2>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="categories">
                                                        <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Plants</a>
                                                    </div>
                                                    <span class="price">
														$290.00
													</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="wrap-col">
                                        <div class="product">
                                            <div class="product-thumbnail"><a href="#"><img src="/images/p3.jpg"></a></div>
                                            <div class="product-content">
                                                <div class="row">
                                                    <h2 class="product-title"><a href="#">Green decor</a></h2>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="categories">
                                                        <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Plants</a>
                                                    </div>
                                                    <span class="price">
														$290.00
													</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="wrap-col">
                                        <div class="product">
                                            <div class="product-thumbnail"><a href="#"><img src="/images/p4.jpg"></a></div>
                                            <div class="product-content">
                                                <div class="row">
                                                    <h2 class="product-title"><a href="#">Green decor</a></h2>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="categories">
                                                        <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Plants</a>
                                                    </div>
                                                    <span class="price">
														$290.00
													</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="wrap-col">
                                        <div class="product">
                                            <div class="product-thumbnail"><a href="#"><img src="/images/p5.jpg"></a></div>
                                            <div class="product-content">
                                                <div class="row">
                                                    <h2 class="product-title"><a href="#">Green decor</a></h2>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="categories">
                                                        <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Plants</a>
                                                    </div>
                                                    <span class="price">
														$290.00
													</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="wrap-col">
                                        <div class="product">
                                            <div class="product-thumbnail"><a href="#"><img src="/images/p6.jpg"></a></div>
                                            <div class="product-content">
                                                <div class="row">
                                                    <h2 class="product-title"><a href="#">Green decor</a></h2>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="categories">
                                                        <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Plants</a>
                                                    </div>
                                                    <span class="price">
														$290.00
													</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="wrap-col">
                                        <div class="product">
                                            <div class="product-thumbnail"><a href="#"><img src="/images/p7.jpg"></a></div>
                                            <div class="product-content">
                                                <div class="row">
                                                    <h2 class="product-title"><a href="#">Green decor</a></h2>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="categories">
                                                        <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Plants</a>
                                                    </div>
                                                    <span class="price">
														$290.00
													</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="wrap-col">
                                        <div class="product">
                                            <div class="product-thumbnail"><a href="#"><img src="/images/p8.jpg"></a></div>
                                            <div class="product-content">
                                                <div class="row">
                                                    <h2 class="product-title"><a href="#">Green decor</a></h2>
                                                    <div class="product-rating">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="categories">
                                                        <a href="#" rel="tag">Accessories</a>, <a href="#" rel="tag">Plants</a>
                                                    </div>
                                                    <span class="price">
														$290.00
													</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-----------------content-box-4-------------------->
            <section class="content-box box-4">
                <div class="zerogrid-fluid">
                    <div class="wrap-box">
                        <div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
                            <h2>Projects Gallery</h2>
                            <span class="intro">Lorem ipsum dolor sit amet consectetur adipisicing</span>
                        </div>
                        <div class="content wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                            <div class="row">
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="portfolio-box zoom-effect">
                                        <img src="/images/12.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                                <div class="project-category">
                                                    Category
                                                </div>
                                                <div class="project-button">
                                                    <a href="/single.html" class="button button-skin">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="portfolio-box zoom-effect">
                                        <img src="/images/13.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                                <div class="project-category">
                                                    Category
                                                </div>
                                                <div class="project-button">
                                                    <a href="/single.html" class="button button-skin">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="portfolio-box zoom-effect">
                                        <img src="/images/14.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                                <div class="project-category">
                                                    Category
                                                </div>
                                                <div class="project-button">
                                                    <a href="/single.html" class="button button-skin">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg-1-4 md-1-3 sm-1-2">
                                    <div class="portfolio-box zoom-effect">
                                        <img src="/images/15.jpg" class="img-responsive" alt="">
                                        <div class="portfolio-box-caption">
                                            <div class="portfolio-box-caption-content">
                                                <div class="project-name">
                                                    Project Name
                                                </div>
                                                <div class="project-category">
                                                    Category
                                                </div>
                                                <div class="project-button">
                                                    <a href="/single.html" class="button button-skin">Read More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-----------------content-box-5-------------------->
            <section class="content-box box-5">
                <div class="zerogrid">
                    <div class="wrap-box"><!--Start Box-->
                        <div class="header wow fadeInUp" data-wow-delay=".1s" data-wow-duration="1s">
                            <h2>Latest News</h2>
                            <span class="intro">Lorem ipsum dolor sit amet consectetur adipisicing</span>
                            <a href="/news/listNews">查看更多</a>
                        </div>
                        <div class="content wow fadeInRight" data-wow-delay=".1s" data-wow-duration="1s">
                            <div class="row">
                                <div class="sm-1-3" th:each="news:${newsList}" th:if="${newsStat.index} le 2">
                                    <div class="wrap-col">
                                        <div class="box-entry">
                                            <div class="box-entry-inner">
                                                <img th:src="@{${news.newsImage}}" class="img-responsive" style="width: 444px;height:286px"/>
                                                <div class="entry-details">
                                                    <div class="entry-des">
                                                        <span><a href="#" th:text="${#dates.format(news.newsTime, 'yyyy-MM-dd HH:mm')}"></a></span>
                                                        <h3><a href="#" th:text="${news.newsTitle}"></a></h3>
                                                        <p th:text="${news.newsContent}" class="news_content"></p>
                                                        <a class="button button-skin" th:href="@{'/news/readMoreNews/'+${news.id}}">阅读更多...</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-----------------content-box-6-------------------->
            <section class="content-box box-6 box-style-3">
                <div class="zerogrid-fluid">
                    <div class="wrap-box"><!--Start Box-->
                        <div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
                            <div class="clients-logo">
                                <div id="owl-brand" class="owl-carousel">
                                    <div class="item">
                                        <img src="/images/b1.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/images/b2.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/images/b3.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/images/b4.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/images/b5.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/images/b6.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/images/b7.png" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="/images/b8.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-----------------content-box-7-------------------->
            <section class="content-box box-7">
                <div class="zerogrid-fluid">
                    <div class="wrap-box"><!--Start Box-->
                        <div class="content wow fadeInLeft" data-wow-delay=".1s" data-wow-duration="1s">
                            <div class="row">
                                <div class="md-1-3">
                                    <div class="wrap-col">
                                        <div class="row">
                                            <div class="sm-1-3">
                                                <i class="fa fa-map-marker"></i>
                                            </div>
                                            <div class="sm-2-3 t-left-sm">
                                                <h3>Address</h3>
                                                <p>123, New Lenox Chicago, IL 60606</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-1-3">
                                    <div class="wrap-col">
                                        <div class="row">
                                            <div class="sm-1-3">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <div class="sm-2-3 t-left-sm">
                                                <h3>Phone</h3>
                                                <p>Carteret NJ 0708 (732) 803-01 03, (732) 806-01 04</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md-1-3">
                                    <div class="wrap-col">
                                        <div class="row">
                                            <div class="sm-1-3">
                                                <i class="fa fa-envelope"></i>
                                            </div>
                                            <div class="sm-2-3 t-left-sm">
                                                <h3>Email</h3>
                                                <p><span>Email One :</span> info@yoursite.com </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </section>

    <!--////////////////////////////////////Footer-->
    <footer id="page-footer">
        <div class="zerogrid wrap-footer">
            <div class="row">
                <div class="sm-1-4 col-footer-1">
                    <div class="wrap-col">
                        <h3 class="widget-title">About Us</h3>
                        <p>Ut volutpat consectetur aliquam. Curabitur auctor in nis ulum ornare. Metus elit vehicula dui. Curabitur auctor in nis ulum ornare. Sed consequat, augue condimentum fermentum</p>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque la udantium</p>
                    </div>
                </div>
                <div class="sm-1-4 col-footer-2">
                    <div class="wrap-col">
                        <h3 class="widget-title">Recent Post</h3>
                        <ul>
                            <li><a href="#">MOST VISITED COUNTRIES</a></li>
                            <li><a href="#">5 PLACES THAT MAKE A GREAT HOLIDAY</a></li>
                            <li><a href="#">PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY</a></li>
                            <li><a href="#">STARTUP COMPANY???S CO-FOUNDER TALKS ON HIS NEW PRODUCT</a></li>
                        </ul>
                    </div>
                </div>
                <div class="sm-1-4 col-footer-3">
                    <div class="wrap-col">
                        <h3 class="widget-title">Tag Cloud</h3>
                        <a href="#">animals</a>
                        <a href="#">cooking</a>
                        <a href="#">countries</a>
                        <a href="#">city</a>
                        <a href="#">children</a>
                        <a href="#">home</a>
                        <a href="#">likes</a>
                        <a href="#">photo</a>
                        <a href="#">link</a>
                        <a href="#">law</a>
                        <a href="#">shopping</a>
                        <a href="#">skate</a>
                        <a href="#">scholl</a>
                        <a href="#">video</a>
                        <a href="#">travel</a>
                        <a href="#">images</a>
                        <a href="#">love</a>
                        <a href="#">lists</a>
                        <a href="#">makeup</a>
                        <a href="#">media</a>
                        <a href="#">password</a>
                        <a href="#">pagination</a>
                        <a href="#">wildlife</a>
                    </div>
                </div>
                <div class="sm-1-4 col-footer-4">
                    <div class="wrap-col">
                        <h3 class="widget-title">Gallery</h3>
                        <div class="row">
                            <div class="sm-1-3 xs-1-2">
                                <div class="wrap-col">
                                    <a href="#"><img src="/images/1.jpg"></a>
                                </div>
                            </div>
                            <div class="sm-1-3 xs-1-2">
                                <div class="wrap-col">
                                    <a href="#"><img src="/images/2.jpg"></a>
                                </div>
                            </div>
                            <div class="sm-1-3 xs-1-2">
                                <div class="wrap-col">
                                    <a href="#"><img src="/images/3.jpg"></a>
                                </div>
                            </div>
                            <div class="sm-1-3 xs-1-2">
                                <div class="wrap-col">
                                    <a href="#"><img src="/images/4.jpg"></a>
                                </div>
                            </div>
                            <div class="sm-1-3 xs-1-2">
                                <div class="wrap-col">
                                    <a href="#"><img src="/images/5.jpg"></a>
                                </div>
                            </div>
                            <div class="sm-1-3 xs-1-2">
                                <div class="wrap-col">
                                    <a href="#"><img src="/images/6.jpg"></a>
                                </div>
                            </div>
                            <div class="sm-1-3 xs-1-2">
                                <div class="wrap-col">
                                    <a href="#"><img src="/images/7.jpg"></a>
                                </div>
                            </div>
                            <div class="sm-1-3 xs-1-2">
                                <div class="wrap-col">
                                    <a href="#"><img src="/images/8.jpg"></a>
                                </div>
                            </div>
                            <div class="sm-1-3 xs-1-2">
                                <div class="wrap-col">
                                    <a href="#"><img src="/images/1.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zerogrid bottom-footer">
            <div class="row">
                <div class="bottom-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                    <a href="#"><i class="fa fa-vimeo"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
            <div class="copyright">
                Copyright @ - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
            </div>
        </div>
    </footer>
    <div id="page-top"><a href="#page-top" class="button button-toTop f-right"><i class="fa fa-angle-double-up"></i></a></div>

    <!-- ========== Scripts ========== -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/jquery.localScroll.min.js"></script>
    <script src="/js/jquery.scrollTo.min.js"></script>
    <script src="/js/SmoothScroll.js"></script>
    <script src="/js/wow.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="/owl-carousel/owl.carousel.js"></script>




    <!-- Definity JS -->
    <script src="/js/main.js"></script>
</div>
</body>
</html>